################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Yahtzee/FileContentIndex
/obj
/bin/Debug
/.vs
